<form>
  <div>
    <label for="selectOption">Select Option:</label>
    <select id="selectOption" name="selectOption" class="form-control">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
  </div>

  <div>
    <label for="textInput">Text Input:</label>
    <input type="text" id="textInput" name="textInput" class="form-control" />
  </div>

  <div>
    <label for="checkbox">Checkbox:</label>
    <input type="checkbox" id="checkbox" name="checkbox" class="form-control" />
  </div>

  <div>
    <button type="button" class="form-control">Submit</button>
    <button type="button" class="form-control">Cancel</button>
  </div>
</form>
