<form>
  <div class="input">
    <label for="selectOption">Room</label>
    <select id="selectOption" name="selectOption" class="form-control">
      <option *ngFor="let option of selectData" [value]="option.pk">
        {{ option.fields.name }}
      </option>
    </select>
  </div>

  <div class="input">
    <label for="textInput">Patient Name</label>
    <input
      type="text"
      id="textInput"
      name="textInput"
      class="form-control"
      placeholder="Patient Name"
    />
  </div>

  <div class="input">
    <label for="checkbox">Emergency</label>
    <input type="checkbox" id="checkbox" name="checkbox" class="form-control" />
  </div>

  <div>
    <button type="button" class="form-control primary">Save</button>
    <button type="button" class="form-control danger">Delete</button>
  </div>
</form>
