<nav class="navbar">
  <div class="navbar-brand">
    <img class="navbar-logo" src="{{ 'assets/meeza-scan-logo.png' }}" />
  </div>
  <ul class="navbar-menu">
    <li class="navbar-item border-right">
      <a class="navbar-link" [routerLink]="''" [class.selected]="isSelected('')"
        >Home</a
      >
    </li>
    <li class="navbar-item border-right">
      <a
        class="navbar-link"
        [routerLink]="'form'"
        [class.selected]="isSelected('form')"
        >Form</a
      >
    </li>
    <li class="navbar-item">
      <a
        class="navbar-link"
        [routerLink]="'screen'"
        [class.selected]="isSelected('screen')"
        >Screen</a
      >
    </li>
  </ul>
</nav>

<div class="content"><router-outlet></router-outlet></div>
