
.navbar {
  background-color: #f1f1f1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 196px;
  padding-right: 196px;
  height: 91px !important;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 60px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  padding: 0;
}

.navbar-item {
  margin-left: 10px;
}

.navbar-link {
  font-family: "Tajawal", Arial, Tahoma, sans-serif;
  color: #0d3991;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  padding: 20px;
}

.border-right{
  border-right: lightgrey 1px solid;
}

.navbar-link:hover{
  color: #2da48e;
}

.navbar-link:hover {
  text-decoration: underline;
}

.selected{
  color: #2da48e;
}

.content{
  margin: 8px;
}
